{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form action="{% url 'post-create' %}" method="post">
            {% include 'users/_messages.html' %}
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label FOR="">Titulo</label>
                    <input type="text" class="form-control form-control-sm" value="{{ values.title }}" name="title">
                </div>
                <div class="form-group">
                    <label for="">Content</label>
                    <textarea class="form-control" style="height: 200px" name="content">{{ values.content }}</textarea>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm">
            </div>
        </form>
    </div>
{% endblock content %}