{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <div class="row col-xl-auto">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Login to your account</h4>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" id="usernameField" class="form-control form-control-sm" placeholder="Username">
                        </div>
                        <div class="invalid-feedback" style="display:none"></div>
                        <div class="form-group">
                            <input type="password" name="password" id="passwordField" class="form-control" placeholder="Password">
                        </div>
                        <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn">
                    </form>
                    <div class="mt-2">
                        <span>Don't have an account? <a href="{% url 'register' %}">Register</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}