{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Join Today</legend>
                <form action="" method="post">
                    <div class="form-group">
                        <input type="text" name="username" id="usernameField" class="form-control form-control-sm" placeholder="Username">
                    </div>
                    <div class="invalid-feedback" style="display:none"></div>
                    <p class="text-sm text-success usernameSuccess"></p>
                    <div class="form-group">
                        <input type="email" name="email" id="emailField" class="form-control" placeholder="Email">
                    </div>
                    <div class="emailFeedBack invalid-feedback" style="display:none"></div>
                    <p class="text-sm text-success emailSuccess"></p>
                    <div class="form-group">
                        <input type="password" name="password" id="passwordField" class="form-control" placeholder="Password">
                        <small class="float-right py-3 showPassword" style="cursor: pointer">SHOW</small>
                    </div>
                    <input type="submit" value="Register" class="btn btn-block btn-primary submit-btn">
                </form>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <form class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}">Log in</a>
            </small>
        </form>
    </div>
{% endblock content %}